node_modules
plugins/**/*.*
data/player/*.json
data/account/*.json
!data/account/Admin.json
!data/player/Admin.json
*.swp
coverage/
*.logs
*.log
*.debug
gulpTODO.md
.gitmodules
*.sublime-*
.whispermudSecret
log/*.log
!log/.gitkeep
package-lock.json
.env

# ignore mkdocs build target
site/